model_config_list: {
  config: {
    name: "f4e44a731f7df858",
    base_path: "/models/f4e44a731f7df858",
    model_platform: "tensorflow"
  },
  config: {
    name: "6f697701fc10ce13",
    base_path: "/models/6f697701fc10ce13",
    model_platform: "tensorflow"
  },
  config: {
    name: "fc0dfb12fad78f07",
    base_path: "/models/fc0dfb12fad78f07",
    model_platform: "tensorflow"
  },
  config: {
    name: "750dac66af62e6b2",
    base_path: "/models/750dac66af62e6b2",
    model_platform: "tensorflow"
  },
  config: {
   name: "26a3a230499ebb48",
   base_path: "/models/26a3a230499ebb48",
   model_platform: "tensorflow"
  },
  config: {
    name: "2ac3470c50c2bd40",
    base_path: "/models/2ac3470c50c2bd40",
    model_platform: "tensorflow"
  },
  config: {
    name: "077c98276e7ae1a0",
    base_path: "/models/077c98276e7ae1a0",
    model_platform: "tensorflow"
  }
  config: {
    name: "ba5c6de27f689d2d",
    base_path: "/models/ba5c6de27f689d2d",
    model_platform: "tensorflow"
  }
  config: {
    name: "3c27c64bd11d5643",
    base_path: "/models/3c27c64bd11d5643",
    model_platform: "tensorflow"
  }
  config: {
    name: "3e6af30a46c1d7f8",
    base_path: "/models/3e6af30a46c1d7f8",
    model_platform: "tensorflow"
  },
  config: {
    name: "5b95ceada85e81f4",
    base_path: "/models/5b95ceada85e81f4",
    model_platform: "tensorflow"
  },
  config: {
    name: "c29a4e1634c75efd",
    base_path: "/models/c29a4e1634c75efd",
    model_platform: "tensorflow"
  },
  config: {
    name: "941dd88da7fc2dbe",
    base_path: "/models/941dd88da7fc2dbe",
    model_platform: "tensorflow"
  }
  config: {
    name: "54aae1ca6f0d5eae",
    base_path: "/models/54aae1ca6f0d5eae",
    model_platform: "tensorflow"
  },
  config: {
    name: "e4e037194ec6f091",
    base_path: "/models/e4e037194ec6f091",
    model_platform: "tensorflow"
  },
  config: {
    name: "a062e0a2781b3d55",
    base_path: "/models/a062e0a2781b3d55",
    model_platform: "tensorflow"
  },
  config: {
    name: "fe0a2140c6ad6f29",
    base_path: "/models/fe0a2140c6ad6f29",
    model_platform: "tensorflow"
  }
}
